[submodule "nox.git"]
	path = nox.git
	url =  git://github.com/homework/nox.git
[submodule "openvswitch.git"]
	path = openvswitch.git
	url = git://github.com/homework/openvswitch.git
[submodule "homework-notify-server.git"]
	path = homework-notify-server.git
	url = git://github.com/homework/homework-notify-server.git
[submodule "homework-notify.git"]
	path = homework-notify.git
	url = git://github.com/homework/homework-notify.git
[submodule "homework-devices"]
	path = homework-devices
	url = ssh://github.com/homework/homework-devices.git
